/*Inline > Id > Class > Generic*/
/*inline>embedded(in the html head)>external(linked css file)*/
/*definitions for the same thing further down get priority*/

html {
    background-color: #AF1390;
}
*{/*wildcard*/
    font-size: 40px;
}
p, h1 {/*comma to refer to multiple things*/
    font-family: "Trebuchet MS";/*need quotation marks for fonts with a space*/    
}
.colorTheSecond {/* . denotes class*/
    background-color: #FDAD13;
}
#secondbest{/* # denotes id*/
    color: #FF00FF;
}