html {
    background-color: #AF1390;
}
p {
    font-family: "Trebuchet MS";    
}
.colorTheSecond {/* . denotes class*/
    background-color: #FDAD13;
}
#secondbest{/* # denotes id*/
    color: #FF00FF;
}